.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 274px;
  height: 410px;
  margin: 8px;
  padding: 0px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

img {
  width: 100%;
  height: 263px;
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

.content {
  text-overflow: ellipsis;
  /* Required for text-overflow to do anything */
  white-space: nowrap;
  overflow: hidden;
}
h2,
h4,
p {
  margin: 0;
}
.title {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
@media only screen and (max-width: 600px) {
  .card {
    width: 348px;
    height: 418px;
  }
}
